{%load static%}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>About CD</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Girasol">
        <link rel="icon" href="{% static 'website/images/Logobg.png' %}">

    <!-- 
    Stone Template
    http://www.templatemo.com/preview/templatemo_452_stone
    -->
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    <style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');
</style>
    
    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="{% static 'website/css/font-awesome.min.css' %}">
    
    <!-- Normailize Stylesheet -->
    <link rel="stylesheet" href="{% static 'website/css/normalize.min.css' %}">

    <!-- Main Styles -->
    <link rel="stylesheet" href="{% static 'website/css/templatemo-style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">

    <script src="{% static 'website/js/vendor/modernizr-2.6.2.min.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-200808047-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-200808047-1');
</script>

</head>
<body style="background-color:black;">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- HEADER -->
    <div class="site-header">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default navbar-static-top">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#main-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="index.html">CD</a>
                    </div>
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="gallery.html">Gallery</a></li>

                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </nav>         
            </div>
        </div>
    </div> <!-- .site-header -->


    <div class="page-h promotion">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>About CD</h3>
                </div>
            </div>
        </div>
    </div>
    
    

      <div class="video-featured">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <center>
                    <div class="video-holder" style="padding:20px; background: url({% static 'website/images/gold2.jpg'%}); border-radius: 10px">
                          <iframe width="695" height="380" frameborder="0" src="https://www.youtube.com/embed/hdTA6jo7eDA" allowfullscreen></iframe>
                     </div>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div class="image79" style="background-color: black; margin-top: -200px; margin-bottom: 0px;"><img  style="display: block; margin-left: auto;margin-right: auto; background-size: cover;"src="{% static 'website/images/Bruh1.png' %}"></div>
    <br><br>


    <div class="promotion-s">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="product-left">
                        <div class="product-image" style="border-radius:10px;">
                            <img style="height: 200px; width:150px;" src="{% static 'website/images/pagoda2.png' %}" alt="">
                        </div>
                        <div class="product-content" style="padding-left:30px;">
                            <h3 style="color:#bfa04a;">History</h3>
                            <p style="color:#F0E68C; line-height:30px;">The dentists of our clinic has opened many dental clinics since 2000. These include Latha Dental Clinic, Sandar Clinic as well as Summit Clinic.<br><br><br></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-right">
                        <div class="product-image" style="margin-top: 20px;">
                            <img src="{% static 'website/images/certificate.png' %}" alt="">
                        </div>
                        <div class="product-content">
                            <h3 style="color:#bfa04a;">Certificates</h3>
                            <p style="color:#F0E68C; line-height:30px;">Certificates earned by our fellow dentists include BDS Yangon, FICD, FICCDE. <br><br><br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <div class="team-area" style="background-color:black; padding-top:30px; font-family:'Julius Sans One','sans-serif;';">
  <div class="container">
    <div style="background-image:url('{% static 'website/images/gray.jpg' %}'); border-radius:20px; padding:0px 100px 0px;" class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <center><h2 style="font-size:50px; padding-bottom: 0px; text-align: center;"><img src="{% static 'website/images/cooltext.png' %}"></h2></center>
        </div>
      </div>

      <!--== Single Team Item ==-->
      <div class="col-md-6" style="padding-top: 40px; padding-bottom: 40px;">
        <div class="single-team">
          <div class="team-img">
            <img src="{% static 'website/images/dad.jpg'%}" alt="" class="img-responsive">
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Dr Aung Kyaw Sein</h3>
                <b><p style="font-size:12px;">BDS(YGN) FICD(USA) FICCDE(Hong Kong) Implantologist, Microscopic Endodontic</p></b>
            </div>
          </div>
        </div>
      </div>
      <!--== Single Team Item ==-->
      <div class="col-md-6" style="padding-top: 40px; padding-bottom: 100px;">
        <div class="single-team">
          <div class="team-img">
            <img src="{% static 'website/images/mom.jpg'%}" alt="" class="img-responsive">
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Dr Sandar Myint</h3>
                <b><p style="font-size:12px;">BDS(YGN) FICD(USA) FICCDE(Orthodontist) Certificate in Clinical Orthodontics (POS)</p></b>
        </div>
      </div>
    </div>
      </div>
</div>

     <div style="background-color:black;"><br><br><br></div>


<div style="background-color:black;"class="fourth-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 style="color:#bfa04a;"> Want to Come to Our Clinic?</h2>
                    <a href="contact.html" style="color:white;">(BE THERE RIGHT NOW)</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="social">
                        <li class="twitter"><a target="_blank"href="https://twitter.com" class="fa fa-twitter"></a></li>
                        <li class="facebook"><a target="_blank"href="https://www.facebook.com/CityDentalAOIC/
" class="fa fa-facebook"></a></li>
                        <li class="rss"><a id='bottom' href="#bottom" class="fa fa-phone"></a></li>
                        <li class="linkedin"><a id='bottom' href="#bottom" class="fa fa-clock-o"></a></li>
                    </ul>
                    <p style="color:white;">Copyright &copy; 2021 KHS CD</p>
                </div>
            </div>
        </div>
        <div style=" background-size: cover;background-color:#6d6d6d;"><p style="text-align: center;padding-top: 0px; color: white;"><i class="fa fa-phone" style="font-size: 1.5em; color:white;" aria-hidden="true"></i>&nbsp; &nbsp;09405334433, 09405334422 &nbsp;&nbsp; <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp; citydentalmm.21@gmail.com&nbsp; &nbsp;&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp; Mon to Sun.... 9AM to 5PM</p></div>
    </footer>
    
	<script src="{% static 'website/js/vendor/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'website/js/plugins.js' %}"></script>
    <script src="{% static 'website/js/main.js' %}"></script>
    
</body>
</html>