{%load static%}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <script type="application/javascript">
  (function(b,o,n,g,s,r,c){if(b[s])return;b[s]={};b[s].scriptToken="XzU2OTQyMTcxNA";b[s].callsQueue=[];b[s].api=function(){b[s].callsQueue.push(arguments);};r=o.createElement(n);c=o.getElementsByTagName(n)[0];r.async=1;r.src=g;r.id=s+n;c.parentNode.insertBefore(r,c);})(window,document,"script","https://cdn.oribi.io/XzU2OTQyMTcxNA/oribi.js","ORIBI");
</script>
    <meta charset="utf-8">
    <title>About CD</title>
    <meta name="description" content="About City Dental Clinic in Yangon, Myanmar.">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Girasol">
        <link rel="icon" href="{% static 'website/images/Logobg.png' %}">

    <!-- 
    Stone Template
    http://www.templatemo.com/preview/templatemo_452_stone
    -->
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    <style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');
</style>
<link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="{% static 'website/css/font-awesome.min.css' %}">
    
    <!-- Normailize Stylesheet -->
    <link rel="stylesheet" href="{% static 'website/css/normalize.min.css' %}">

    <!-- Main Styles -->
    <link rel="stylesheet" href="{% static 'website/css/templatemo-style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">

    <script src="{% static 'website/js/vendor/modernizr-2.6.2.min.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-200808047-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-200808047-1');
</script>

</head>
<body style="background-color:black;">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- HEADER -->
    <div class="site-header">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default navbar-static-top">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#main-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="why" style="width: 50px;"><img style="width:100%; height:auto;" src="{% static 'website/images/Logobg.png'%}"></div>
                    </div>
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="gallery.html">Gallery</a></li>

                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </nav>         
            </div>
        </div>
    </div> <!-- .site-header -->

    <div class="page-h">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 style="font-size:35px;font-family: 'Open Sans';font-weight:600">A b o u t</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="filter">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">

                </div>
            </div>
        </div>
    </div>
      <div class="video-featured">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <center>
                    <div class="video-holder" style="background:url('{% static 'website/images/gold2.jpg' %}'); border-radius: 10px; padding: 15px">
                         <div style="position:relative;">
<iframe width="560" height="415" src="https://www.youtube.com/embed/94km0sesXhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                             <source src="images/vid.mp4" type="video/mp4">
                         </video>
                             </div>
                     </div>
                 </center>
                    </div>
                </div>
            </div>
        </div>


    <div class="image79" style="background-color: black; margin-top: -200px; margin-bottom: 0px;"><center><img  class = "responsive" style="max-width:500px;display: block; background-size: cover;" src="{% static 'website/images/Bruh1.png' %}"></center></div>
    <br><br>


    <div class="promotion-s" style="padding-bottom:0px; margin-bottom:40px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="product-left">
                        <div class="product-image" style="border-radius:10px;">
                            <img style="height: 200px; width:150px;" src="{% static 'website/images/pagoda2.png' %}" alt="">
                        </div>
                        <div class="product-content" style="padding-left:30px;">
                            <h3 style="color:#bfa04a; font-size:25px;">History</h3>
                            <p style="color:#F0E68C; line-height:30px; font-size:15px;">The dentists of our clinic has opened many dental clinics since 2000. These include Latha Dental Clinic, Sandar Clinic as well as Summit Clinic.<br><br><br></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-right">
                        <div class="product-image" style="margin-top: 20px;">
                            <img src="{% static 'website/images/certificate.png'%}" alt="">
                        </div>
                        <div class="product-content">
                            <h3 style="color:#bfa04a; font-size:25px;">Certificates</h3>
                            <p style="color:#F0E68C; line-height:30px; font-size:15px;">Certificates earned by our fellow dentists include BDS Yangon, FICD, FICCDE. <br><br><br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <div class="team-area" style="background-color:black; padding-top:0px;">
  <div class="container">
 <div style="border-radius:20px; padding:0px 100px 0px;" class="row">
     <div class="col-md-12">
        <div class="section-title text-center">
          <center><h2 style="font-size:50px; color: #bfa04a;    font-family: 'Cinzel Decorative';">Founders</h2> </center>
        </div>
      </div>

            <!--== Single Team Item ==-->
      <div class="col-md-6" style="padding-top: 40px; padding-bottom: 40px;">
        <div class="single-team">
          <div class="team-img">
            <img src = "{% static 'website/images/dad.jpg'%}" alt="" class="img-responsive">
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3 style="padding-top:25px; font-size:22px;font-family:'Quicksand'; font-weight:bold;">Dr. Aung Kyaw Sein</h3>
            </div>
          </div>
        </div>
      </div>
      <!--== Single Team Item ==-->
      <div class="col-md-6" style="padding-top: 40px; padding-bottom: 40px;">
        <div class="single-team">
          <div class="team-img">
            <img src = "{% static 'website/images/mommy.jpg'%}" alt="" class="img-responsive">
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3 style="padding-top:25px; font-size:22px;font-family:'Quicksand'; font-weight:bold;">Dr. Sandar Myint</h3>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>


     <div style="background-color:black;"><br><br><br></div>


<div style="background-color:black;"class="fourth-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 style="color:#bfa04a;"> Want to Come to Our Clinic?</h2>
                    <a href="contact.html" style="color:white;">(BE THERE RIGHT NOW)</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="social">
                        <li class="twitter"><a href="twitter.com" class="fa fa-twitter"></a></li>
                        <li class="facebook"><a href="facebook.com" class="fa fa-facebook"></a></li>
                        <li class="rss"><a id='bottom' href="#bottom" class="fa fa-phone"></a></li>
                        <li class="linkedin"><a id='bottom' href="#bottom" class="fa fa-clock-o"></a></li>
                    </ul>
                    <p style="color:white;">Copyright &copy; 2021 KHS</p>
                </div>
            </div>
        </div>
        <div style=" margin-left:30px; margin-right:30px;background-size: cover;background-color:#6d6d6d;"><p style="text-align: center;padding-top: 0px; color: white;"><i class="fa fa-phone" style="font-size: 1.5em; color:white;" aria-hidden="true"></i>&nbsp; &nbsp;09405334433, 09405334422 &nbsp;&nbsp; <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp; citydentalmm.21@gmail.com&nbsp; &nbsp;&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp; Mon to Sun.... 9AM to 5PM</p></div>
    </footer>

	<script src="{% static 'website/js/vendor/jquery-1.10.1.min.js'%}"></script>
    <script src="{% static 'website/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'website/js/plugins.js'%}"></script>
    <script src="{% static 'website/js/main.js'%}"></script>

</body>
</html>