{%load static%}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>City Dental</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    
    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="{% static 'website/css/font-awesome.min.css' %}">
    
    <!-- Normailize Stylesheet -->
    <link rel="stylesheet" href="{% static 'website/css/normalize.min.css' %}">

    <!-- Main Styles -->
    <link rel="stylesheet" href="{% static 'website/css/templatemo-style.css' %}">

    <link rel="icon" href="{% static 'website/images/Logobg.png' %}">

    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-200808047-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-200808047-1');
</script>

</head>
<body  style="background-color: black;"class="loading">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- HEADER -->
    <div class="site-header">
        <div class="container" style="background">
            <div class="row">
                <nav class="navbar navbar-default navbar-static-top">
                    <div class="navbar-header"id="navbar">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#main-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="index.html">CD</a>
                    </div>
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </nav>         
            </div>
        </div>
    </div> <!-- .site-header -->


    <!-- SLIDER -->
    <div class="site-slider">
        <div class="flexslider">
            <ul class="slides">
                <li class="slide">
                    <div class="overlay"></div>
                    <img src="{% static 'website/images/slide8.png' %}" alt="">
                    <div class="slider-caption">
                        <div class="title">
                            <h2 style="color:white;font-size:50px;">CITY DENTAL</h2>
                        </div>
                        <a href="about.html" class="slider-button">About us</a>
                    </div>
                </li>
                <li class="slide">
                    <div class="overlay"></div>
                    <img src="{% static 'website/images/slide5.png' %}" alt="">
                    <div class="slider-caption">
                        <div class="title">
                            <h2 style="color:white;">A smile is the prettiest</h2>
                            <h2 style="color:white;">thing you can wear</h2>
                        </div>
                        <a href="about.html" class="slider-button">Read More</a>
                    </div>
                </li>
            </ul>
        </div>   
    </div> <!-- .site-slider -->
    

    <div class="first-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 style="color:#bfa04a ;">Exclusive Feel</h3>
                    <p style="line-height: 2.0;color:   #F0E68C">Opened in 2021, City Dental aims to be more than just a clinic. When we treat our patients, we always makes sure they exit with a huge smile. This clinic was also built with luxury in mind, so patients can experience that high-standard feel as soon as they enter.
                  <br><br>၂၀၂၁ တွင်ဖွင့်လှစ်ခဲ့သော City Dental သည်ဆေးခန်းတစ်ခုထက်မကပါရန်ရည်ရွယ်သည်။ ကျွန်ုပ်တို့၏လူနာများကိုကျွန်ုပ်တို့ကုသသောအခါသူတို့ကကြီးမားသောအပြုံးဖြင့်ထွက်ခွာသွားကြောင်းသေချာစေပါသည်။ ဤဆေးခန်းကိုလည်းစိတ်ထဲတွင်ဇိမ်ခံကားများဖြင့်တည်ဆောက်ထားသဖြင့်လူနာများသည်သူတို့ ၀င်ရောက်သည်နှင့်တပြိုင်နက်ထိုအဆင့်အတန်းမြင့်ခံစားမှုကိုခံစားနိုင်သည်။</p>
                </div>
                <div class="col-md-6 text-center">
                    <div class="image-holder" style="padding-top:30px;">
                        <img src="{% static 'website/images/kid.jpg' %}" style="border-radius: 10px; padding-top:0px; margin-top: 0px;">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class ="image79" style="background-color:black; margin-top:0px;"><center><img  style="background-size: cover;"src="{% static 'website/images/Bruh1.png' %}"></center></div>


    <div class="second-section">
        <div class="container">
            <div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-3">
      <i class="fa fa-smile-o"></i>
      <h2 style="font-weight: 600; font-size: 30px;" data-max="90">% </br>
      <a style="color:  #F0E68C; font-size: 17px;">Happy Customers</a></h2>
    </div>
    <div class="col-sm-3">
      <i class="fa fa-medkit"></i>
      <h2 style="font-weight: 600; font-size: 30px;" data-max="65">% </br><a style="color:  #F0E68C; font-size: 17px;">Skilled Staff</a></h2>
    </div>
    <div class="col-sm-3">
      <i class="fa fa-certificate"></i>
      <h2 style="font-weight: 600; font-size: 30px;" data-max="98">% </br><a style="color:  #F0E68C; font-size: 17px;">Beauty</a></h2>
    </div>
    <div class="col-sm-3">
      <i class="fa fa-user-md"></i>
      <h2 style="font-weight: 600; font-size: 30px;" data-max="100" id="test">% </br><a style="color:   #F0E68C; font-size: 17px;">Experienced Dentists</a></h2>
    </div>
  </div>
</div>        </div>
    </div>



    <div class="third-section">
        <div style="background-image:url('{% static 'website/images/gray.jpg' %}');border-radius:20px; padding-top:30px;" class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 style="color:#bfa04a; text-shadow: 1px 1px;">&nbsp; &nbsp;Clean Atmosphere</h2>
                    <p style="padding-left:15px;">Our clinic is very clean as our skilled staff perseveres to clean this clinic everyday so that there is no dirt even in the smallest corner. The whole place, including even the pantry and the toilets is spotless.
                    <br><br>ကျွန်ုပ်တို့၏ဆေးခန်းသန့်ရှင်းရန်ကျွန်ုပ်တို့၏ကျွမ်းကျင်သော၀န်ထမ်းသည်သေးငယ်သောထောင့်၌ပင်အညစ်အကြေးများမရှိစေရန်ဤဆေးခန်းကိုနေ့စဉ်သန့်ရှင်းရေးလုပ်ရန်အမြဲကြိုးစားသည်။ မီးဖိုချောင်နှင့်အိမ်သာများအပါအ၀င်နေရာတစ်ခုလုံးသည်အညစ်အကြေးကင်းစင်သည်။</p>
                </div>
                <div class="col-md-6">
                    <h2 style="color:#bfa04a; text-shadow: 1px 1px;">&nbsp; &nbsp;Friendly Nurses</h2>
                    <ol class="no-color">
                        <li>Very Helpful.</li>
                        <li>Punctual.</li>
                        <li>Patient.</li>
                        <li>Hardworking.</li>
                        <li>Most importantly, friendly.</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2 style="color:#bfa04a; text-shadow: 1px 1px;"> &nbsp; &nbsp;Qualified and Experienced Dentists</h2>
                    <ol>
                        <li>
                            <h4 style="color:   #F0E68C;">Dr Aung Kyaw Sein(BDS, Yangon)</h4>
                            <p>His family line has been dentist for five generations straight. Since his first clinic opened, he has received a lot of certificates, including ones from USA, Hong Kong etc.<br>
                            သူ၏မိသားစုလိုင်းသည်သွားဆရာဝန်ဖြစ်ခဲ့သည်မှာမျိုးဆက်ငါးဆက်ဖြစ်သည်။ သူ၏ပထမဆုံးဆေးခန်းဖွင့်ကတည်းကအမေရိကန်၊ ဟောင်ကောင်စသည့်လက်မှတ်များအပါအ၀င်လက်မှတ်များစွာကိုရရှိခဲ့သည်</p>
                        </li>
                        <li>
                            <h4 style="color:   #F0E68C;">Dr Sandar Myint(BDS,Yangon)</h4>
                            <p>Dr Sandar Myint is a very skillful dentist who has been in this field for over 18 years. She is very patient when consulting with the patients. She is especially specialized in orthodontics.<br>ဒေါက်တာစန္ဒာမြင့်သည်အလွန်ကျွမ်းကျင်သောသွားဆရာဝန်ဖြစ်သည်။ သူမသည်လူနာများနှင့်တိုင်ပင်သောအခါအလွန်စိတ်ရှည်ပါသည်။ သူမသည်အထူးသဖြင့်သွားညှိကုပညာအထူးကျွမ်းကျင်သည်။
</p>
                        </li>
                        <li>
                            <h4 style="color:   #F0E68C">Other Dentists </h4>
                            <p>They are qualified dentists who have worked tirelessly alongside the dentists mentioned above for many years.</p>
                        </li>
                    </ol>
                </div>
                <div class="col-md-6" >
                    <h2 style="color:#bfa04a; text-shadow: 1px 1px;">Top of the Line Equipment</h2>
                    <ol>
                        <li>
                            <h4 style="color:   #F0E68C;">Microscope</h4>
                            <ol class="no-color">
                                <li>We use microscopes to get finer details of your teeth.</li>
                                <li>High-Quality</li>
                            </ol>
                        </li>
                        <li>
                            <h4 style="color:   #F0E68C;">Dental Chairs</h4>
                            <ol class="no-color">
                                <li>Comfortable</li>
                                <li>Made in Germany</li>
                                <li>Soft</li>
                            </ol>
                        </li>
                        <li>
                            <h4 style="color:   #F0E68C;">Scanner</h4>
                        </li>
                        <li>
                            <h4 style="color:   #F0E68C;">Branded Equipment</h4>
                        </li>
                        <li>
                            <h4 style="color:   #F0E68C;">Autoclave</h4>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:black;"><br style="background-color:black"><br style="background-color:#d0d0d0"><br style="background-color:#d0d0d0"></div>
    <div style="background-color:black;"class="fourth-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 style="color: #bfa04a"> Want to Come to Our Clinic?</h2>
                    <a href="contact.html" style="color:white">(BE THERE RIGHT NOW)</a>
                </div>
            </div>
        </div>
    </div>

    

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="social">
                        <li class="twitter"><a target="_blank"href="https://twitter.com" class="fa fa-twitter"></a></li>
                        <li class="facebook"><a target="_blank"href="https://www.facebook.com/CityDentalAOIC/
" class="fa fa-facebook"></a></li>
                        <li class="rss"><a id='bottom' href="#bottom" class="fa fa-phone"></a></li>
                        <li class="linkedin"><a id='bottom' href="#bottom" class="fa fa-clock-o"></a></li>
                    </ul>
                    <p style="color:white;">Copyright &copy; 2021 KHS CD</p>
                </div>
            </div>
        </div>
            <div style=" background-size: cover; background-color:#6d6d6d; font-family:'Julius Sans One','sans-serif';"><p style="text-align:center;padding-top: 0px; color: white;"><i class="fa fa-phone" style="font-size: 1.5em; color:white;" aria-hidden="true"></i>&nbsp; &nbsp;09405334433, 09405334422 &nbsp;&nbsp; <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp; citydentalmm.21@gmail.com&nbsp; &nbsp;&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp; Mon to Sun.... 9AM to 5PM</p></div>
    </footer>


    <script src="{% static 'website/js/vendor/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'website/js/plugins.js' %}"></script>
    <script src="{% static 'website/js/main.js' %}"></script>
    
</body>
</html>